*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: thistle;
    scroll-snap-align: start ;
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.one {
    background: rgb(38, 0, 255);
}
.two {
    background: chocolate;
}
.three {
    background: crimson;
}
.four {
    background: greenyellow;
    color: wheat;
}



/* 3.42. Masked Image */

.ld-masked-image svg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	object-fit: cover;
}

.ld-masked-image svg defs,
.ld-masked-image svg clipPath,
.ld-masked-image svg path {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.ld-masked-image figure {
	background-position: -90% 10%;
	background-size: 95%;
}

.ld-masked-image img {
	width: 100%;
	height: auto;
	visibility: hidden;
}